/* intuitivni box-sizing */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 sans-serif;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: Raleway;
}

p {
  font-family: Homemade Apple;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  text-align: right;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto {
  flex-basis: calc(100%/3);
  /*tady měnít podle toho kolik chci na stránce obrázků*/
}
